<div class="B-grid-container B-email-reply-form">
  <div></div>
  <div class="B-email-form-container">
    <h3>Resend confirmation instructions</h3>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'B-small-forms B-validator' }) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class:'B-text-input', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <p class="B-form-message-container" id="user_email_messenger">*</p>
      </div>
      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class:'B-form-button' %>
      </div>
      <%= devise_error_messages! %>     
    <% end %>
    <div class="B-form-bottom-links">
      <%= render "users/shared/links"%>
    </div>
  </div>
  <div></div>
</div>
