<div class="B-email-reply-form">
  <div class="B-email-form-container B-white-font">
    <h3>Resend unlock instructions</h3>
    <p id="B_messenger"></p>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'B-validator' }) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class:'B-text-input' %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions", class:'B-form-button' %>
      </div>
      <%= devise_error_messages! %>      
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
