<h1 class="H-admin-profile-page-title">Admin Profile</h1>

<div class="H-admin-profile-left-column">
	<div class="H-admin-profile-pic-container">
		<!-- <img class="H-admin-profile-pic" src="./profile-pic.jpg" alt="(image not found)"> -->
		<%= image_tag "profile-pic.jpg", class:"H-admin-profile-pic" %>
	</div>
	<div class="H-admin-profile-name">Hung Hung Hang</div>
	<div class="H-admin-profile-status">Administrator</div>
</div>

<div class="H-admin-profile-right-column">
	
	<div class="H-admin-profile-right-column-menu">
		<div class="H-admin-profile-right-column-menu-elements">Information</div>
		<div class="H-admin-profile-right-column-menu-elements">Settings</div>
		<div class="H-admin-profile-right-column-menu-elements">a</div>
	</div>

	<div class="H-admin-profile-information">

		<div class="H-admin-profile-infomation-title">Full Name</div>
		<div class="H-admin-profile-infomation-content">Nguyễn Phú Hưng</div>

		<div class="H-admin-profile-infomation-title">Display Name</div>
		<div class="H-admin-profile-infomation-content">Hung Hung Hang</div>

		<div class="H-admin-profile-infomation-title">Position</div>
		<div class="H-admin-profile-infomation-content">Front-end Developer</div>

		<div class="H-admin-profile-infomation-title">Email</div>
		<div class="H-admin-profile-infomation-content">hungng300899@gmail.com</div>

		<div class="H-admin-profile-infomation-title">Phone</div>
		<div class="H-admin-profile-infomation-content">01247.641.366</div>

		<div class="H-admin-profile-infomation-title">Status</div>
		<div class="H-admin-profile-infomation-content">Administrator</div>

	</div>

	<div class="H-admin-profile-settings">

		<%= form_with(model: @user, local: true, url:{action: "edit"}, class: "H-admin-profile-information-form") do |f| %>

			<h2 class="H-admin-profile-settings-title1">Update Profile Information</h2>

			<div class="H-admin-profile-settings-title">Full Name<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.text_field :full_name, value: "Nguyen Phu Hung", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Name must be filled out!</div>

			<div class="H-admin-profile-settings-title">Display Name<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.text_field :display_name, value: "Hung Hung Hang", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Display name must be filled out!</div>

			<div class="H-admin-profile-settings-title">Profile Picture</div>
			<%= f.file_field :proflie_picture, accept: "image/*", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">You must choose a picture!</div>

			<div class="H-admin-profile-settings-title">Position<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.text_field :position, value: "Front-end Developer", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Position must be filled out!</div>

			<div class="H-admin-profile-settings-title">Email<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.email_field :email, value: "hungng300899@gmail.com", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Email must be filled out!</div>

			<div class="H-admin-profile-settings-title">Phone<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.text_field :position, value: "01247.641.376", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Phone number must be filled out!</div>

			<div class="H-admin-profile-settings-title">Status<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.text_field :status, value: "Administrator", class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Status must be filled out!</div>

			<div class="H-admin-profile-settings-title"></div>
			<%= f.submit "Submit Changes", class: "H-admin-profile-settings-submit-button" %>
			
		<% end %>

		<%= form_with(model: @user, local: true, url:{action: "edit"}, class: "H-admin-profile-password-form") do |f| %>

			<h2 class="H-admin-profile-settings-title1">Update Password</h2>

			<div class="H-admin-profile-settings-title">Current Password<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.password_field :current_password, class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">Current password must be filled out!</div>

			<div class="H-admin-profile-settings-title">New Password<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.password_field :new_password, class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">New password must be filled out!</div>

			<div class="H-admin-profile-settings-title">Confirm Password<span class="H-admin-profile-compulsory"
			>*</span></div>
			<%= f.password_field :confirming_password, class: "H-admin-profile-settings-content" %>
			<div class="H-admin-profile-error">New password must be confirmed!</div>

			<div class="H-admin-profile-settings-title"></div>
			<%= f.submit "Submit Changes", class: "H-admin-profile-settings-submit-button" %>

		<% end %>

	</div>

</div>

<div class="H-admin-profile-line-breaker">a</div>