<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style_of_product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style_of_product.description %>
</p>

<p>
  <strong>Advantage:</strong>
  <%= @style_of_product.advantage %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @style_of_product.collection %>
</p>

<p>
  <strong>Price:</strong>
  <%= @style_of_product.price %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @style_of_product.dimensions %>
</p>

<p>
  <strong>Necklace length:</strong>
  <%= @style_of_product.necklace_length %>
</p>

<p>
  <strong>Photograph size:</strong>
  <%= @style_of_product.photograph_size %>
</p>

<p>
  <strong>Category name:</strong>
  <%= @style_of_product.category_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @style_of_product.status %>
</p>

<%= link_to 'Edit', edit_style_of_product_path(@style_of_product) %> |
<%= link_to 'Back', style_of_products_path %>
