<%= form_with(model: product, local: true, class: 'P-form-new-product') do |f| %>
  <%# if product.errors.any? %>
    <!-- <div id="error_explanation">
      <h2><%#= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <%# product.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= form.label :amount %>
    <%#= form.text_field :amount, id: :product_amount %>
  </div> -->
  
  <div class="P-wrap-new-product container">
    <div class="P-label-wrap-new-product">
      New Product
    </div>
    <div class="row">
      <!-- Name -->
      <div class="P-content-new-product col-md-12 mt-2">
        <%= f.label :name, class:"P-label-new-product" %> <br>
        <%= f.text_field :name_of_product, class: 'P-input-new-product', id:'P-name-new-product' %>
        <br>
        <div class="P-alert">
          <span id="P-alert-name"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Price -->
      <div class="P-content-new-product col-md-6 mt-2 P-price-new-product">
        <%= f.label :price, class:"P-label-new-product" %> <br>
        <%= f.number_field :price_of_product, class: 'P-input-new-product', id: 'P-price-new-product' %>
        <br>
        <div class="P-alert">
          <span id="P-alert-price"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>

      <!-- chị sửa chỗ này thành rails form -->
      <!-- Type -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :type, class:"P-label-new-product" %> <br>
        <div class="P-radio-new-product" id="P-type-new-product">
          <div class="row">
          <span class="col-md-6">
              <input type="radio" value="necklaces" name="type">Necklaces
          </span>
          <span class="col-md-6">
              <input type="radio" value="rings" name="type">Rings
          </span>
          </div>
          <div class="row">
          <span class="col-md-6">
            <input type="radio" value="bracelets" name="type">Bracelets
          </span>
          <span class="col-md-6">
            <input type="radio" value="earings" name="type">Earings
          </span>
          </div>
        </div>
        <div class="P-alert">
          <span id="P-alert-type"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>
      <!-- hết cái div đó thôi -->
    </div>

    <div class="row">
      <!-- Description -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :description, class:"P-label-new-product" %> <br>
        <%#= f.text_field :description_of_product, class: 'P-input-new-product', id: 'P-description-new-product' %>
        <!-- chị sửa chỗ này thành rails form giúp em -->
        <textarea class="P-input-new-product" id="P-description-new-product" style="width: 100%; height: 75%; padding:10px 20px 10% 15px;"></textarea>
        <div class="P-alert">
          <span id="P-alert-des"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>

      <!-- Advantage -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :Advantage, class:"P-label-new-product" %> <br>
        <%= f.text_field :advantage1_of_product, class: 'P-input-new-product P-advantage-new-product'%> <br>
        <div class="P-alert">
          <span id="P-alert-advan1"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>

        <%= f.text_field :advantage2_of_product, class: 'P-input-new-product P-advantage-new-product' %> <br>
        <div class="P-alert">
          <span id="P-alert-advan2"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
        
        <%= f.text_field :advantage3_of_product, class: 'P-input-new-product P-advantage-new-product'%> <br>
        <div class="P-alert">
          <span id="P-alert-advan3"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Collection -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :collection, class:"P-label-new-product" %> <br>
        <%= f.text_field :collection_of_product, class: 'P-input-new-product', id: 'P-collection-new-product' %>
        <br>
        <div class="P-alert">
          <span id="P-alert-collect"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>

      <!-- Quanlity -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :quanlity, class:"P-label-new-product" %> <br>
        <%= f.number_field :price_of_product, class: 'P-input-new-product', id: 'P-quanlity-new-product' %>
        <br>
        <div class="P-alert">
          <span id="P-alert-price"></span>
          <i class="fa fa-exclamation-circle" style="color: red;"></i>
        </div>
      </div>      
    </div>

    <div class="row">
      <!-- chị sửa chỗ này thành rails form -->
      <!-- Mental -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :mental, class:"P-label-new-product" %> <br>
        <select class="P-select-new-product" id="P-mental-new-product">
          <option>Black Ruthenium Plated</option>
          <option>Rose Gold (Solid)</option>
          <option>Rose Gold (Vermeil)</option>
          <option>Sterling Silver</option>
          <option>White Gold (Solid)</option>
          <option>Yellow Gold (Solid)</option>
          <option>Yellow Gold (Vermeil)</option>
        </select>
      </div>
      <!-- hết cái div đó thôi -->
      
      <!-- chị sửa chỗ này thành rails form -->
      <!-- Gemstone -->
      <div class="P-content-new-product col-md-6 mt-2">
        <%= f.label :gemstone, class:"P-label-new-product" %> <br>
        <select class="P-select-new-product" id="P-gemstone-new-product">
          <option>Pearl</option>
          <option>Moonstone</option>
          <option>Apatite</option>
          <option>Cultured Freshwater Pearl</option>
          <option>Cultured White Sapphire</option>
          <option>Diamond</option>
          <option>Ruby</option>
          <option>Sapphire</option>
          <option>Rose Quartz</option>
          <option>Pink Opal</option>
        </select>
      </div>
      <!-- hết cái div đó thôi -->
    </div>

    <div class="row mt-2">
      <div class="col-md-6" style="padding: 0;">
        <!-- chị sửa chỗ này thành rails form -->
        <div class="P-wrap-upload-img">
          <label for="P-upload-img1" class="P-label-upload-img">
            <%= image_tag 'no-img.png', class:"P-no-img-label" %> <br>
            <span class="P-choose-img-label">Choose file</span>
          </label>
          <input id="P-upload-img1" class="P-upload-img-field" type="file" accept="image/*" onchange="readURL(this);">
        </div>
        
        <div class="P-wrap-upload-img">
          <label for="P-upload-img2" class="P-label-upload-img">
            <%= image_tag 'no-img.png', class:"P-no-img-label" %> <br>
            <span class="P-choose-img-label">Choose file</span>
          </label>
          <input id="P-upload-img2" class="P-upload-img-field" type="file" accept="image/*" onchange="readURL(this);">
        </div>
        <!-- 2 cái div ở trên  -->
      </div>
      
      <div class="col-md-6" style="padding: 0;">
        <!-- chị sửa chỗ này thành rails form -->
        <div class="P-wrap-upload-img">
          <label for="P-upload-img3" class="P-label-upload-img">
            <%= image_tag 'no-img.png', class:"P-no-img-label" %> <br>
            <span class="P-choose-img-label">Choose file</span>
          </label>
          <input id="P-upload-img3" class="P-upload-img-field" type="file" accept="image/*" onchange="readURL(this);">
        </div>
          
        <div class="P-wrap-upload-img">
          <label for="P-upload-img4" class="P-label-upload-img">
            <%= image_tag 'no-img.png', class:"P-no-img-label" %> <br>
            <span class="P-choose-img-label">Choose file</span>
          </label>
          <input id="P-upload-img4" class="P-upload-img-field" type="file" accept="image/*" onchange="readURL(this);">
        </div>
        <!-- 2 cái div ở trên -->
      </div>
    </div>

    <div class="actions" style="margin-top: 20px;">
      <%= f.submit :Create, class:"P-submit-new-product" %>
    </div>
  </div>

  

  
<% end %>
