<!-- <p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.amount %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %> -->

<div class="P-product-header">
  <center>
    <h1 class="P-product-heading">
      Bracelets
    </h1>
    <p class="P-product-content">
      The most resplendent wrists deserve only the finest bracelets. From our signature gemstone friendship bracelets to our utterly refined diamonds, we sincerely believe that bracelets should be stacked and layered.
    </p>
  </center>
</div>

<div class="P-product-filter">
  <ul class="P-wrap-filter-cate" style="margin: 0;">
    <li class="P-filter-cate">
      Price 
      <i class="fa fa-chevron-down"></i>
      <span class="P-sub-filter P-amount"></span>
      <div class="P-filter-cate-content" style="display: none;">
        <center>
          <div id="P-slider-range"></div>
        </center>
        <div id="P-min-price">500,000</div>
        <div class="P-amount" id="P-amount-display">5,000,000 - 10,000,000</div>
        <div id="P-max-price">20,000,000</div>
      </div>
    </li>
    <li class="P-filter-cate">
      Mental
      <i class="fa fa-chevron-down"></i>
      <span class="P-sub-filter" id="P-sub-mental"></span>
      <div class="P-filter-cate-content" style="display: none; width: 25%;">
        <ul class="P-filter-cate-wrap-content">
        <% @metals.each do |item| %>
          <li class="P-filter-cate-content-item P-mental-cate">
            <div class="P-filter-cate-content-item-color" style="background-color:<%= item.color %>"></div>
            <%= item.name %>
          </li>
        <% end %>
        </ul>
      </div>
    </li>
    <li class="P-filter-cate">
      Gemstone 
      <i class="fa fa-chevron-down"></i>
      <span class="P-sub-filter" id="P-sub-gemstone"></span>
      <div class="P-filter-cate-content" style="display: none; width: 15%">
        <ul class="P-filter-cate-wrap-content">
          <% @gem_stones.each do |item| %>
          <li class="P-filter-cate-content-item P-mental-cate">
            <div class="P-filter-cate-content-item-color" style="background-color:<%= item.color %>"></div>
            <%= item.name %>
          </li>
          <% end %>
        </ul>
      </div>
    </li>
    <li class="P-filter-clear">
      Clear all
      <i class="fa fa-times"></i>
    </li>
    <li class="P-filter-sort" id="P-filter-sort-big">
      Sort By:
      <select>
        <option>Price Low</option>
        <option>Price High</option>
        <option>New In</option>
        <option>Best Seller</option>
      </select>
    </li>
  </ul>
</div>
<!-- sort for mobile -->
  <ul id="P-mobile-sort" style="display: none;">
    <li class="P-filter-sort">
      Sort By:
     <select>
        <option>Price Low</option>
        <option>Price High</option>
        <option>New In</option>
        <option>Best Seller</option>
      </select>
    </li>
  </ul>
<div class="P-clear-float"></div>

<p style="font-size: 50px">vfvfvfv</p>
<p style="font-size: 50px">vfvfvfv</p>
<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Gem Stone</th>
      <th>Metal</th>
      <th>Style</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.gem_stone_id %></td>
        <td><%= product.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
