<div class="P-wrap-view-product-ad">
  <div class="P-label-view-product-ad">Products</div>
  <table>
    <tr>
      <th class="P-th-view-product-ad">#</th>
      <th class="P-th-view-product-ad">Product</th>
      <th class="P-th-view-product-ad">Type</th>
      <th class="P-th-view-product-ad">Price</th>
      <th class="P-th-view-product-ad">Quanlity</th>
      <th class="P-th-view-product-ad">Available</th>
      <th class="P-th-view-product-ad">Sold</th>
    </tr>

    <% @products.each do |product| %>
    <tr>
      <td class="P-td-view-product-ad"><%= product.id %></td>
      <td class="P-td-view-product-ad">
        <!-- chỗ này để hình -->
        <%= product.name %>
      </td>
      <td class="P-td-view-product-ad"><%= product.category_name %></td>
      <td class="P-td-view-product-ad P-price-view-product-ad"><%= product.price %></td>
      <td class="P-td-view-product-ad"><%= product.amount %></td>
      <td class="P-td-view-product-ad"><%= product.amount %></td>
      <td class="P-td-view-product-ad">0</td>
    </tr>
    <% end %>
    <!-- <thead>
      <tr>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <%# @products.each do |product| %>
        <tr>
         <td><%#= product.name %></td>
         <td><%#= product.description %></td>
          <td><%#= product.price %></td>
          <td><%#= product.amount %></td>
          <td><%#= link_to 'Show', product %></td>
          <td><%#= link_to 'Edit', edit_user_product_path(product) %></td>
          <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%# end %>
    </tbody> -->
  </table>
</div>
