<!DOCTYPE html>
<html>
  <head>
    <title>CMGJewellery-Admin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body id="H-admin-page">

	<!-- menu section -->
	<div id="H-admin-menu">
		
		<div id="H-admin-menu-page-name">CMG JEWELLERY</div>
		<hr class="H-admin-menu-hr">
	
		<div class="H-admin-menu-block-container">
			<div class="H-admin-menu-tittle-container">
				<div class="H-admin-menu-tittle"><i class="fa fa-key"><pre style="display: inline;">  </pre></i><%= current_user.name %></div>
				<div class="H-admin-menu-show-button"><i class="fa fa-angle-down H-admin-menu-font-awesome-show-button"></i></div>
			</div>

			<%= link_to edit_user_path(current_user) do %>
				<div class="H-admin-menu-content"><i class="fa fa-address-card-o"><pre style="display: inline;">  </pre></i>My Profile</div>
			<% end %>
			<%= link_to destroy_user_session_path, method: 'delete' do %>
				<div class="H-admin-menu-content"><i class="fa fa-sign-out"><pre style="display: inline;">  </pre></i>Log Out</div>
			<% end %>
			
		</div>
		<hr class="H-admin-menu-hr">
	
		<div class="H-admin-menu-block-container">
			<div class="H-admin-menu-tittle-container">
				<div class="H-admin-menu-tittle"><i class="fa fa-desktop"><pre style="display: inline;">  </pre></i>Dashboard</div>
			</div>
		</div>
	
		<div class="H-admin-menu-block-container">
			<div class="H-admin-menu-tittle-container">
				<div class="H-admin-menu-tittle"><i class="fa fa-shopping-bag"><pre style="display: inline;">  </pre></i>Products</div>
				<div class="H-admin-menu-show-button"><i class="fa fa-angle-down H-admin-menu-font-awesome-show-button"></i></div>
			</div>
			<%= link_to new_user_product_path(current_user) do %>
			<div class="H-admin-menu-content"><i class="fa fa-plus"><pre style="display: inline;">  </pre></i>Add</div>
			<% end %>
			
			<div class="H-admin-menu-content"><i class="fa fa-pencil"><pre style="display: inline;">  </pre></i>Edit</div>
			<div class="H-admin-menu-content"><i class="fa fa-shield"><pre style="display: inline;">  </pre></i>Status</div>
		</div>
	
		<div class="H-admin-menu-block-container">
			<div class="H-admin-menu-tittle-container">
				<div class="H-admin-menu-tittle"><i class="fa fa fa-user-o"><pre style="display: inline;">  </pre></i>Accounts</div>
				<div class="H-admin-menu-show-button"><i class="fa fa-angle-down H-admin-menu-font-awesome-show-button"></i></div>
			</div>
			<div class="H-admin-menu-content"><i class="fa fa-plus"><pre style="display: inline;">  </pre></i>Add</div>
			<div class="H-admin-menu-content"><i class="fa fa-list-ul"><pre style="display: inline;">  </pre></i>List</div>
		</div>
	
		<div class="H-admin-menu-block-container">
			<div class="H-admin-menu-tittle-container">
				<div class="H-admin-menu-tittle"><i class="fa fa-file-text-o"><pre style="display: inline;">  </pre></i>Orders</div>
				<div class="H-admin-menu-show-button"><i class="fa fa-angle-down H-admin-menu-font-awesome-show-button"></i></div>
			</div>
			<div class="H-admin-menu-content"><i class="fa fa-eye"><pre style="display: inline;">  </pre></i>View</div>
			<div class="H-admin-menu-content"><i class="fa fa-long-arrow-up"><pre style="display: inline;">   </pre></i>Update Status</div>
		</div>
	
	</div>
	<!-- end of menu section -->
	
	<!-- content section -->
	<div id="H-admin-content">
	
		<%= yield %>
		<div id="H-slide-button"><i id="H-admin-font-awesome-slide-button" class="fa fa-times"></i></div>
	
	</div>
	<!-- end of content section -->


  </body>
</html>