<!DOCTYPE html>
<html>
  <head>
    <title>CMGJewellery</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- brand -->
    <div class="container-fluid pb-0 pt-1">
      <div class="row">
        <div class="col-md-3 mt-2">
        <div class="row pull-right mt-1">
          <i class="fa fa-user mt-1" style="color: black; font-size: 20px;" ></i>        
          <% if user_signed_in? && !current_user.nil? %>
            <%= link_to current_user.name, root_path, class:"P-login ml-1" %>
            <span class="mx-1" style="color: black; font-size: 20px;"> / </span>    
            <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class:"P-login" %>
            <% if current_user.role == 'admin' %>
              <%= link_to 'Admin page', root_path %>
            <% end %>
          <% else %>
            <div data-turbolinks="false">
              <%= link_to 'Sign In', new_user_session_path, class:"P-login ml-1"%>
              <span class="mx-1" style="color: black; font-size: 20px;"> / </span> 
              <%= link_to 'Register', new_user_registration_path, class:"P-login"%>
            </div>
          <% end %>
        </div>
      </div>
        <div class="col-md-6 mb-0">
          <%= link_to root_path do %>
            <p class="h1 text-center P-brand">CMG Jewellery</p>
          <% end %>
        </div>

        <div class="col-md-3 mb-2 mt-0 text-center"></div>
      </div>
    </div>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">
      <button class="navbar-toggler w-100" style="border: 0;" data-toggle="collapse" data-target="#collape-navbar-p">
        <span class="navbar-toggler-icon float-left"></span>

        <%= link_to root_path, class:"P-cart-wrap-mobile float-right" do %>
            <i class="fa fa-shopping-cart" style="font-size: 25px; color: white;"></i>
            <span class="P-number-cart" >0</span>
        <% end %>
      </button>

      <!-- Sign in/ register virtual to balance left right -->
      <!-- <div class="collapse navbar-collapse justify-content-start text-center width-100 ml-3 mr-5 pr-5" style="opacity: 0">
        <i class="fa fa-user" style="color: white; font-size: 15px;" ></i>
        <div class="">
          Sign In
        </div>
        <span class="" style="color: white; font-size: 15px;"> / </span> 
        <div>
          Register
        </div>
      </div> -->

      <!-- cart -->
      <div class="mx-5 px-3"></div>

      <!-- Navigation option -->
      <div class="collapse navbar-collapse justify-content-center" id="collape-navbar-p">
        <ul class="navbar-nav text-center">

          <!-- Search box - mobile only -->
          <li class="nav-item mx-2 P-search-box-mobile mt-2 ml-5">
            <form class="P-home-search-mobile">
              <input type="text" class="P-input-home-search-mobile" name="search" placeholder="I'm looking for ...">
              <button class="P-submit-search" type="submit">
                <i class="fa fa-search" style="color: white;"></i>
              </button>
            </form>
          </li>

          <li class="nav-item mx-2">
            <%= link_to root_path, class:"nav-link py-0" do %>
              NEW IN
            <% end %>
          </li>

          <li class="nav-item mx-2">
            <%= link_to root_path, class:"nav-link py-0" do %>
              NECKLACES
            <% end %>
          </li>

          <li class="nav-item mx-2">
            <%= link_to root_path, class:"nav-link py-0" do %>
              RINGS
            <% end %>
          </li>

          <li class="nav-item mx-2">
            <%= link_to root_path, class:"nav-link py-0" do %>
              BRACELETS
            <% end %>  
          </li>

          <li class="nav-item mx-2">
            <%= link_to root_path, class:"nav-link py-0" do %>
              EARRINGS
            <% end %> 
          </li>
          
          <!-- Sign in - mobile only -->
          <li class="nav-item mx-2 P-login-mobile">
              <%= link_to root_path, class:"nav-link py-0" do %>
                SIGN IN
              <% end %> 
          </li>
          
          <!-- Register - mobile only -->
          <li class="nav-item mx-2 P-login-mobile">
              <%= link_to root_path, class:"nav-link py-0" do %>
                REGISTER
              <% end %> 
          </li>
        </ul>
      </div>

      <!-- Search box -->
      
      <form class="P-home-search">
        <input type="text" class="P-input-home-search" name="search" placeholder="I'm looking for ...">
        <button class="P-submit-search px-2" type="submit">
          <i class="fa fa-search" style="color: white; font-size: 20px;"></i>
        </button>
      </form>
      <%= link_to root_path, class:"P-cart-wrap mx-2" do %>
        <i class="fa fa-shopping-cart" style="font-size: 25px; color: white;"></i>
        <span class="P-number-cart mb-3" >0</span>
      <% end %>
    </nav>

    <%= yield %>
    
    <!-- chỉ đụng khúc này -->
    <div class="footer">

      <!-- animated background -->
      <div class="background background--particles">
        <canvas class="pg-canvas" width="2000" height="600" style="display: block;"></canvas>
      </div>
      
      <!-- footer content -->
      <div class="column">
      	<div class="tittle text-center">Developers</div>
      	<ul class="developers text-center">
      		<li>Hoang Yen Minh</li>
      		<li>Pham Duc Binh</li>
      		<li>Tran Thien Phuc</li>
      		<li>Nguyen Phu Hung</li>
      	</ul>
      </div>

      <div class="column">
      	<div class="tittle text-center">Address</div>
        <div class="address text-center">
          F-CODE Club<br>
      		FPT University<br>
      		Innovation Building, Block 24, Quang Trung Software City,<br>
      		Tan Chanh Hiep Ward, District 12, Ho Chi Minh City
      	</div>
      </div>

      <div class="copyright">© CMG Jewellery 2018 - Most Rights Reserved</div>
    </div>
    <!-- nhớ là chỉ đụng khúc này -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
