<!DOCTYPE html>
<html>
  <head>
    <title>CMGJewellery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- brand -->
    <div class="container-fluid pb-0 pt-1">
      <div class="row">
        <div class="col-md-3 text-center">
        </div>

        <div class="col-md-6 mb-0">
          <%= link_to root_path do %>
            <p class="h1 text-center P-brand">CMG Jewellery</p>
          <% end %>
        </div>

        <div class="col-md-3 mb-2 mt-0 text-center">
        </div>
      </div>
    </div>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">
      <button class="navbar-toggler w-100" style="border: 0;" data-toggle="collapse" data-target="#collape-navbar-p">
        <span class="navbar-toggler-icon float-left"></span>

        <%= link_to root_path, class:"P-cart-wrap float-right" do %>
            <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i>
            <span class="P-number-cart" >0</span>
        <% end %>
      </button>

      <!-- Sign in/ register -->
      <div class="collapse navbar-collapse justify-content-start text-center width-100 ml-3 mr-5 pr-5">
        <i class="fa fa-user" style="color: white; font-size: 15px;" ></i>
        <%= link_to root_path, class:"P-login ml-1" do %>
          Sign In
        <% end %> 
        <span class="mx-1" style="color: white; font-size: 15px;"> / </span> 
        <%= link_to root_path, class:"P-login" do %>
          Register
        <% end %>
      </div>

      <!-- Navigation option -->
      <div class="collapse navbar-collapse justify-content-center" id="collape-navbar-p">
        <ul class="navbar-nav text-center">

          <!-- Search box - mobile only -->
          <li class="nav-item mx-3 P-search-box-mobile mt-2 ml-5">
            <form class="P-home-search-mobile">
              <input type="text" class="P-input-home-search-mobile" name="search" placeholder="I'm looking for ...">
              <button class="P-submit-search" type="submit">
                <i class="fa fa-search" style="color: white;"></i>
              </button>
            </form>
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              NEW IN
            <% end %>
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              NECKLACES
            <% end %>
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              RINGS
            <% end %>
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              BRACELETS
            <% end %>  
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              EARRINGS
            <% end %> 
          </li>
          
          <!-- Sign in - mobile only -->
          <li class="nav-item mx-3 P-login-mobile">
              <%= link_to root_path, class:"nav-link py-0" do %>
                SIGN IN
              <% end %> 
          </li>
          
          <!-- Register - mobile only -->
          <li class="nav-item mx-3 P-login-mobile">
              <%= link_to root_path, class:"nav-link py-0" do %>
                REGISTER
              <% end %> 
          </li>
        </ul>
      </div>

      <!-- Search box -->
      <div class="collapse navbar-collapse justify-content-end width-50">
        <form class="P-home-search">
          <input type="text" class="P-input-home-search" name="search" placeholder="I'm looking for ...">
          <button class="P-submit-search px-2" type="submit">
              <i class="fa fa-search" style="color: white;"></i>
          </button>
        </form>

        <!-- cart -->
        <%= link_to root_path, class:"P-cart-wrap mr-3" do %>
            <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i>
            <!-- <span class="P-cart" >Shopping Cart</span> -->
            <span class="P-number-cart" >0</span>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-bottom mt-2 py-0 justify-content-center" id="P-footer">
      <div id="P-footer-list">
        <ul class="navbar-nav text-center">
          <li class="nav-item mx-3 P-footer-item">
            <%= link_to root_path, class:"nav-link py-0" do %>
              CONTACT US
            <% end %>
            <a href="# " class="nav-link py-0">CONTACT US</a>
          </li>

          <li class="nav-item mx-3 P-footer-item">
            <%= link_to root_path, class:"nav-link py-0" do %>
              FAQs
            <% end %>
            <a href="# " class="nav-link py-0">FAQs</a>
          </li>

          <li class="nav-item mx-3 P-footer-item">
            <%= link_to root_path, class:"nav-link py-0" do %>
              DELIVERY
            <% end %>
            <a href="# " class="nav-link py-0">DELIVERY</a>
          </li>
        </ul>
      </div>

      <div id="P-footer-social">
        <ul class="navbar-nav text-center">
          <li class="nav-item mx-1">
            <%= link_to root_path, class:"nav-link py-0" do %>
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <% end %>
          </li>

          <li class="nav-item mx-1">
            <%= link_to root_path, class:"nav-link py-0" do %>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          </li>

          <li class="nav-item mx-1">
            <%= link_to root_path, class:"nav-link py-0" do %>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </nav> -->
    
    <!-- chỉ đụng khúc này -->
    <div class="footer">

      <!-- animated background -->
      <div class="background background--particles">
        <canvas class="pg-canvas" width="2000" height="600" style="display: block;"></canvas>
      </div>
      
      <!-- footer content -->
      <div class="column">
      	<div class="tittle">Developers</div>
      	<ul class="developers">
      		<li>Hoang Yen Minh</li>
      		<li>Pham Duc Binh</li>
      		<li>Tran Thien Phuc</li>
      		<li>Nguyen Phu Hung</li>
      	</ul>
      </div>

      <div class="column">
      	<div class="tittle">Address</div>
        <div class="address">
          F-CODE Club<br>
      		FPT University<br>
      		Innovation Building, Block 24, Quang Trung Software City,<br>
      		Tan Chanh Hiep Ward, District 12, Ho Chi Minh City
      	</div>
      </div>

      <div class="copyright">© Astley Clarke Limited 2018 - Most Rights Reserved</div>
    </div>
    <!-- nhớ là chỉ đụng khúc này -->
  </body>
</html>
