<!DOCTYPE html>
<html>
  <head>
    <title>CMGJewellery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- brand -->
    <div class="container-fluid pb-0 pt-1">
      <div class="row">
        <div class="col-md-3 text-center">
        <i class="fa fa-user"></i>
        <%= link_to 'Sign In', root_path, class:"P-login"%> 
        <span> / </span> 
        <%= link_to 'Register', root_path, class:"P-login" %>
        </div>

        <div class="col-md-6 mb-0">
          <%= link_to root_path do %>
            <p class="h1 text-center P-brand">CMG Jewellery</p>
          <% end %>
          <!-- <a href="index.html" id="P-brand">
            <p class="h1 text-center">CMG Jewellery</p>
          </a> -->
        </div>

        <div class="col-md-3 mb-2 mt-0 text-center">
          <%= link_to root_path, class:"P-cart-wrap" do %>
            <i class="fa fa-shopping-cart" style="font-size: 20px;"></i>
            <span class="P-cart" >Shopping Cart</span>
            <span class="P-number-cart" >0</span>
          <% end %>
          <!-- <div class="input-group w-100 text-center" id="P-home-search">
            <input class="form-control form-control-dark P-input-home-search" type="text" placeholder="I'm looking for ..." aria-label="Search">
              <div class="input-group-append mr-2">
                <button class="btn btn-outline-dark P-input-home-search" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <i class="fa fa-shopping-cart" style="font-size: 30px;"></i>
          </div> -->
        </div>
      </div>
    </div>

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#collape-navbar-p">
        <span class="navbar-toggler-icon "></span>
      </button>

      <!-- Virtual search box to balance -->
      <div class="collapse navbar-collapse justify-content-end text-center width-50 P-home-search-virtual">
          <form class="P-home-search">
            <input type="text" class="P-input-home-search" name="search" placeholder="I'm looking for ...">
            <button type="submit">
                <i class="fa fa-search" style="color: white;"></i>
            </button>
          </form>
      </div>

      <!-- Navigation option -->
      <div class="collapse navbar-collapse justify-content-center" id="collape-navbar-p">
        <ul class="navbar-nav text-center">
          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              NEW IN
            <% end %>
            <!-- <a href="# " class="nav-link py-0">NEW IN</a> -->
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              NECKLACES
            <% end %>
            <!-- <a href="# " class="nav-link py-0">JEWELLRY</a> -->
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              RINGS
            <% end %>
            <!-- <a href="# " class="nav-link py-0">GIFTS</a> -->
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              BRACELETS
            <% end %>  
            <!-- <a href="# " class="nav-link py-0">EXPLORE</a> -->
          </li>

          <li class="nav-item mx-3">
            <%= link_to root_path, class:"nav-link py-0" do %>
              EARRINGS
            <% end %> 
            <!-- <a href="# " class="nav-link py-0">PERSONALISE</a> -->
          </li>

          <li class="nav-item mx-3 P-search-box-mobile mb-2">
            <form class="P-home-search-mobile">
              <input type="text" class="P-input-home-search-mobile" name="search" placeholder="I'm looking for ...">
              <button class="P-submit-search" type="submit">
                <i class="fa fa-search" style="color: white;"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse justify-content-end text-center width-50">
        <form class="P-home-search">
          <input type="text" class="P-input-home-search" name="search" placeholder="I'm looking for ...">
          <button class="P-submit-search" type="submit">
              <i class="fa fa-search" style="color: white;"></i>
          </button>
        </form>
      </div>
    </nav>

    <%= yield %>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-bottom mt-2 py-0 justify-content-center" id="P-footer">
      <div id="P-footer-list">
        <ul class="navbar-nav text-center">
          <li class="nav-item mx-3 P-footer-item">
            <%= link_to root_path, class:"nav-link py-0" do %>
              CONTACT US
            <% end %>
            <!-- <a href="# " class="nav-link py-0">CONTACT US</a> -->
          </li>

          <li class="nav-item mx-3 P-footer-item">
            <%= link_to root_path, class:"nav-link py-0" do %>
              FAQs
            <% end %>
            <!-- <a href="# " class="nav-link py-0">FAQs</a> -->
          </li>

          <li class="nav-item mx-3 P-footer-item">
            <%= link_to root_path, class:"nav-link py-0" do %>
              DELIVERY
            <% end %>
            <!-- <a href="# " class="nav-link py-0">DELIVERY</a> -->
          </li>
        </ul>
      </div>

      <div id="P-footer-social">
        <ul class="navbar-nav text-center">
          <li class="nav-item mx-1">
            <%= link_to root_path, class:"nav-link py-0" do %>
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <% end %>
          </li>

          <li class="nav-item mx-1">
            <%= link_to root_path, class:"nav-link py-0" do %>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          </li>

          <li class="nav-item mx-1">
            <%= link_to root_path, class:"nav-link py-0" do %>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- chỉ đụng khúc này -->
    <div class="footer">

      <!-- animated background -->
      <div class="background background--particles">
        <canvas class="pg-canvas" width="2000" height="600" style="display: block;"></canvas>
      </div>
      
      <!-- footer content -->
      <div class="column">
      	<div class="tittle">Developers</div>
      	<ul class="developers">
      		<li>Hoang Yen Minh</li>
      		<li>Pham Duc Binh</li>
      		<li>Tran Thien Phuc</li>
      		<li>Nguyen Phu Hung</li>
      	</ul>
      </div>

      <div class="column">
      	<div class="tittle">Address</div>
        <div class="address">
          F-CODE Club<br>
      		FPT University<br>
      		Innovation Building, Block 24, Quang Trung Software City,<br>
      		Tan Chanh Hiep Ward, District 12, Ho Chi Minh City
      	</div>
      </div>

      <div class="copyright">© Astley Clarke Limited 2018 - Most Rights Reserved</div>
    </div>
    <!-- nhớ là chỉ đụng khúc này -->
  </body>
</html>
