<%# Using B_registration %>
<!DOCTYPE html>
<html class="B-body-form">
  <head>
    <title>CMGJewellery</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body class="B-flex-container B-body-form">
    <div class="B-registration-container">
      <div class="B-registration-form">
        <div class="B-form-container">
          <center><h3>Sign up</h3></center>
          <p id="B_messenger"></p>
          <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: 'B-registration-form-fields', id: 'B-sign-up-form'} do |f| %>
          <%#= devise_error_messages! %>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'B-text-input'%>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.text_field :email, autocomplete: "email", class:'B-text-input' %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <span class="B-eye-container"><i class="fa fa-eye" id="toggle" onclick="B_togglePasswordVisibility()"></i></span>
              <%= f.password_field :password, autocomplete: "off", class:'B-text-input' %>     
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class:'B-text-input' %>
            </div>
          
            <div class="B-grid-container B-form-button-container">
              <%= link_to 'Go Back', root_path, class:'B-form-button B-back-button' %>
              <div class="actions">
                <%= f.submit "Sign Up", class:"B-form-button" %>
              </div>   
              <%# id:"submit", type:'submit' %>
            <div>          
          <% end %>
        </div>
      </div>  
      <%= render "users/shared/links" %>
    </div>
  </body>
</html>