<!DOCTYPE html>
<html class="B-body">
  <head>
    <title>CMGJewellery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="B-body">
    <div class="B-registration-container">
      <div class="B-registration-form">
        <div class="B-form-container">
          <h3>Sign up</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'B-form-fields'}) do |f| %>
          <%= devise_error_messages! %>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.email_field :name, autofocus: true, autocomplete: "name", class:'B-text-input' %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", class:'B-text-input' %>
            </div>
          
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class:'B-text-input' %>
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class:'B-text-input' %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class:"B-action-button" %>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
        </div>
      </div>  
    </div>
  </body>
</html>